<!DOCTYPE html>
<html>
<head>
  <title>TrumpHomes</title>
  <%= stylesheet_link_tag    "trump_homes/application", media: "all" %>
  <%= javascript_include_tag "trump_homes/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
